
<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Mech-Care</h1>
    <p class="lead">For registration a new request kindly sign up or if you are our old customer then login below</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
  </div>
</div>

<div id="page-content">

</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Mech-care", "https://github.com/amitkumarbhagat" %></small>
  </div>
</footer>
